<ion-grid>
	<ion-row>
		<ion-col>
			<div class="container-img">
				<img [src]="usuario.fotodeperfil" class="fotodeperfil">
			    <div class="historia"></div>
			</div>
		</ion-col>
		<ion-col>
			<p><strong>{{usuario.post}}</strong></p>
			<p>Posts</p>
		</ion-col>
		<ion-col>
			<p><strong>{{usuario.followers}}</strong></p>
			<p>Followers</p>
		</ion-col>
		<ion-col>
			<p><strong>{{usuario.following}}</strong></p>
			<p>Following</p>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			{{usuario.nombre}}
		</ion-col>
	</ion-row>
	<ion-row>
		{{usuario.descripcion}}
	</ion-row>
	<ion-row>
		<ion-button (click)="toggleEditar()">
			Editar Perfil
		</ion-button>
	</ion-row>
	<ion-row *ngIf="editando">
		<p>Biografía: {{bio}}</p>
		<ion-input [(ngModel)]="bio" class="borde-input"></ion-input>
		<ion-button (click) = "guardarNuevaBio()">Guardar</ion-button>
		<ion-button (click)="toggleEditar()">Cancelar</ion-button>
	</ion-row>
</ion-grid>


<app-posts></app-posts>

